<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <style>
        html, body {
            height: 100%;
            margin: 0;
/*             background-color: rgba(250, 250, 250, 0.95); /* Replace with your desired color */ */
            color: #fff; /* Set text color to contrast with the background */
        }
    </style>

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Chankyo Kim
              </h1>
              <p>I’m Master's Student at UMICH CURLY, advised by Prof. Maani Ghaffari. My current research interest lies in Lie Group, Representation Learning, and Geometries.
              </p>
              <p>I was an AI research engineer at Intellicon Metalab Inc. At Metalab, I developed a voice generation models for apply in Lip-Synced Video Synthesis for VR Simulator. I also conducted research on representation learning for temporal data (e.g., voice data of announcer).
              </p>
              <p>I received my B.S. degree in Mechanical and Aerospace Engineering from <a href="https://en.snu.ac.kr/index.html">Seoul National University </a> in 2022. 
              </p>
<!--               <p>I am working on policy optimization in enforcement learning for dynamic robot systems. Currently, I am working with Prof. Ram Vasudevan on accurate contact simulation for bipedal robot control. Before joining the University of Michigan, I worked as a SLAM Researcher in Bear Robotics! I received a B.S.c degree at the Dept. of Mechanical and Aerospace Engineering at Seoul National University./p>
              </p>
              <p>I would like to contribute to the academy and society with researches on efficient human-robot collaboration and reliable autonomous systems.
              </p> -->
              <!-- 주석
              <p>
                From 2011 to 2017, I worked at <a href="https://www.intel.com">Intel</a>, as part of <a href="https://www.intelrealsense.com/">Intel RealSense</a>. I primarily designed computer vision algorithms for efficient hardware ASICs, including the Intel RealSense <a href="https://software.intel.com/en-us/articles/realsense-r200-camera">R200</a> and <a href="https://software.intel.com/en-us/realsense/d400">D400</a> RGB-D sensors. Additionally, I worked on <a href="https://github.com/IntelRealSense/librealsense">software APIs</a>, <a href="https://patents.google.com/patent/US9992474B2">active illumination systems</a>, <a href="https://patents.google.com/patent/US9304597">human-computer interaction devices</a>, and helped develop demos for trade shows, including CES 2012-2016.
              </p>
              <p>
                I have an MS in Computer Science (AI focus) from <a href="http://cs.stanford.edu">Stanford University</a>, where I was a research assistant for <a href="http://svl.stanford.edu/">Silvio Savarese</a> and a teaching assistant for <a href="http://svl.stanford.edu/">Fei-Fei Li</a> (<a href="http://vision.stanford.edu/teaching/cs131_fall1617/">CS131</a> & <a href="http://cs231n.stanford.edu/2017/">CS231N</a>). I have a BS in EECS from <a href="http://www.eecs.berkeley.edu/">UC Berkeley</a>, where I worked in <a href="https://people.eecs.berkeley.edu/~pister/">Kris Pister's</a> lab.
              </p>
              -->
              <p style="text-align:center">
                <a href="mailto:chankyo@umich.edu">Email</a> &nbsp;/&nbsp;
                <a href="pdfs/2023_Academic_CV.pdf"> CV </a>
<!--                 <a href="pdfs/2023_Academic_CV.pdf"> GitHub </a> -->
              </p>
              
            </td>
            <td style="padding:2.5%;width:60%;max-width:60%">
              <img style="width:80%;max-width:80%" alt="profile photo" src="images/chankyokim_cc2.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                IMU Equivariant Learning [1] / Advanced Intelligent Driver Model [2] / Lip-synced Voice Generative Model [3] / Contact Solver Development in Pybullet, Matlab of Bipedal Robot "Digit" [4] / Large System Optimization [3] / Feedback Control in Soft Robotics [4] / Bipedal Robot Simpulator Development [5]
                <!-- 주석 I'm interested in safety control and optimization for underactuated robot, robotic vision, robot learning, and robotic system design. -->
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Project</h2>
              <p>I organized <a href="https://github.com/outta-ai">OUTTA</a>, AI Education Organization in South Korea, in the beginning of 2021.
        </p>
              </p>
                
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'ai' %}
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.book %}
              <a href="{{post.book}}">book</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'ai' %}
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.book %}
              <a href="{{post.book}}">book</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publication</h2>
              <p>C.K.Kim, et al., Why Engineering, MegaStudy Books, Jan. 2022. .<a href="https://product.kyobobook.co.kr/detail/S000001680085">[link]</p>
              <p>Published 3 educational book 0f basic perception, robotics, linear algebra, and AI for undergraduate students in South Korea with support of MIT and Seoul National University</p>
              </p>
              <ul>
                <li><p>C. Kim, et al., Kang.H, Introduction of Python and Autonomous Robot System with MIT Race Car, Hongreung Publishing Company, 2022.<a href="https://product.kyobobook.co.kr/detail/S000060624705">[link]</p></li>
                <li><p>C. Kim, et al., Kang.H, Introduction of Calculus and Artificial Intelligence wth Advanced Python, Hongreung Publishing Company, 2022.<a href="https://library.yonsei.ac.kr/search/detail/CATTSS000002115386?briefLink=/newarrival?st=SUBJ_A_bk_5=%ED%99%8D%EB%A6%89_A_sNo=0_A_newDate=365_A_sq=0">[link]</p></li>
                <li><p>C. Kim, et al., Kang.H, J.H. Im, C. Kim, et al., Kang.H∗, Introduction of Natural Language Processing and Data Analysis, Hongreung Publishing Company, 2022.<a href="https://books.google.com/books/about/%EC%9E%90%EC%97%B0%EC%96%B4_%EC%B2%98%EB%A6%AC_%EC%B2%AB%EB%8B%A8%EC%B6%94_%EB%81%BC%EC%9A%B0%EA%B8%B0.html?id=iOdGzwEACAAJ">[link]</p></li>
              </ul>ul>
              <p>Jung, D. H., C.K. Kim, Oh, K. H., Lee, D. H., Kim, M., Shin, J. H., Son,J.E.∗, Analyses of CO2 Concentration and Balance in a Closed Production System for King Oyster Mushroom and Lettuce., Horticultural Science and Technology.<a href="https://koreascience.kr/article/JAKO201436351072727.page">[link]<\a></p>
                
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

